<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  
  {{ $style := resources.Get "css/extended.css" }}
  {{ if $style }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  {{ end }}
  
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    html, body {
      width: 100%;
      height: 100%;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      background-color: #ffffff;
      color: #1f2937;
    }
    
    body {
      overflow-x: hidden;
    }
  </style>
</head>
<body>
  {{ block "main" . }}{{ end }}
</body>
</html>
